@import url("../../general.css");


#navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    width: 100svw;

    background: var(--background-color);

    border-bottom: 0.15svh solid var(--border-color);
}

#navBar button {
    background-color: var(--button-color);

    border: 0.05svw solid var(--border-color-btn);
    border-radius: 0.25svw;

    cursor: pointer;
}

#navBar button:hover {
    background-color: #2A1933;
    color: var(--font-color);

    border: 0.05svw solid var(--border-color-btn);
    border-radius: 0.25svw;
}

.headerCol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    gap: 2.5svw;

    width: 80svw;
    height: 5svh;

    color: var(--font-color)
}

#searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2svw;

    height: 5svh;
}

.headerCol div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2svw;

    height: 5svh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #logo img{
        width: 50px;
        height: 50px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #logo img{
        width: 50px;
        height: 50px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #logo img{
        width: 50px;
        height: 50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #logo img{
        width: 50px;
        height: 50px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .headerCol {
        height: 80px;
    }

    #logo img {
        width: 50px;
        height: 50px;
    }

    #searchBar {
        padding-left: 25px;
    }

    #searchBar input{
        width: 350px;
        height: 30px;

        text-indent: 15px;
        color: var(--font-color);

        border-radius: 5px;

        background-color: var(--background-color);

        border: 1px solid var(--border-color);
    }

    #searchBar input::placeholder {
        color: var(--font-color);
        opacity: 0.95;
    }

    #searchBar input:hover{
        border-color: var(--font-color);
    }

    #menu {
        width: auto;
        
        font-size: small;

        color: var(--font-color);

        cursor: pointer;
    }

    #menu ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;

        list-style: none;

        gap: 50px;
    }

    #menu ul li:hover {
        color: var(--highlight-color-light)
    }


}