:root {
    --background-color: #dddddd;
    --background-color-fade: #dbdbdb;
    --box-color-light: #002442;
    --box-color-dark: #012642;
    --highlight-color-light: #f91504;
    --highlight-color-dark: #d00000;
    --highlight-border: #ff1b02;
    --font-color: #333333;
    --font-color-light: #79797980;
    --border-color: #85858556;
    --background-black: #17181a;
}